/*for debuggin*/
/* #container  *{ 
    width: 100px;
    height: 50px;
    margin: 10px 10px;
    } */

#container,
.controls,
.left-side,
.right-side,
.numbers,
.non-zero,
.first-row,
.second-row,
.third-row {
  display: flex;
}

#container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}
.left-side,
.numbers,
.non-zero {
  flex-direction: column;
}
.display {
  width: 86%;
  height: 50px;
  background-color: #ebd7b5;
  align-self: auto;
}

.number,
.operator {
  height: 50px;
  width: 50px;
  background-color: #cdaca1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  margin: 5px 5px 0px 0px;
}
.operators {
  margin-top: 5px;
  gap: 10px;
}
.operator {
  margin: 5px;
  background-color: #cdcacc;
  margin-right: 0px;
}
.clear,
#zero {
  height: 50px;
  width: auto;
  background-color: #cd8987;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-right: 0px;
}
#three,
#six,
#nine {
  margin-right: 0px;
}

#equal {
  margin-top: 10px;
  margin-bottom: 2px;
  background-color: #78b370;
}
